.gallery-content .plugin-gallery-setting {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.plugin-gallery-setting .setting-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.plugin-gallery-setting .setting-header-container {
  width: 100%;
  padding: 0 20px;
}

.plugin-gallery-setting .setting-header-container .setting-header-wrapper {
  padding: 10px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plugin-gallery-setting .btn-close {
  margin-right: -4px;
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #999;
  font-weight: 700;
}

.plugin-gallery-setting .btn-close:hover {
  opacity: 0.8;
}

.plugin-gallery-setting .setting-body {
  padding: 14px 20px 50px;
  overflow: auto;
}

.plugin-gallery-setting .setting-item {
  margin-bottom: 14px;
}

.plugin-gallery-setting .fields-setting {
  padding: 0;
}

.plugin-gallery-setting .setting-item .title {
  margin-bottom: 10px;
}

.plugin-gallery-setting .split-line {
  width: 100%;
  height: 1px;
  margin: 14px 0;
  background-color: #e2e2e2;
}

.plugin-gallery-setting .fields-setting .fields-setting-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}

.fields-setting .fields-setting-header .setting-choose-all {
  color: #ff8000;
  font-size: 12px;
  cursor: pointer;
}

.fields-setting-body .fields-setting-list {
  font-size: 12px;
  margin-top: 5px;
}

.fields-setting-body .gallery-setting-item {
  position: relative;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  display: flex;
  border-radius: 4px;
  padding: 0 3px 0 2px;
}

.fields-setting-body .gallery-setting-item:hover { 
  background: #f0f0f0;
}

.fields-setting-body .gallery-setting-item.column-can-drop {
  background: #e9e9e9;
}

.fields-setting-body .gallery-setting-item .drag-column-handle {
  color: #c2c2c2;
  font-size: 14px;
  cursor: grab;
}

.gallery-setting-item .gallery-column-switch {
  position: relative;
  flex: 1;
  display: flex;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 2px;
}

.gallery-setting-item .gallery-column-switch .custom-switch {
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.gallery-setting-item .custom-switch .custom-switch-description {
  width: 192px;
  margin: 0;
  padding-right: 5px;
}

.gallery-setting-item .custom-switch .dtable-font {
  -webkit-transform: scale(.8);
  transform: scale(.8);
  display: inline-block;
  line-height: 24px;
  margin-right: 8px;
  color: #666;
}

.gallery-setting-item .custom-switch .custom-switch-indicator {
  width: 22px;
  height: 12px;
  border-radius: 6px;
}

.gallery-setting-item .custom-switch .custom-switch-input:checked~.custom-switch-indicator:before {
  left: 12px;
}

.gallery-setting-item .custom-switch .custom-switch-indicator:before {
  height: 8px;
  width: 8px;
}
