.gallery-list-content .gallery-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 150px;
}

.gallery-list .gallery-item {
  min-width: 220px;
  border-radius: 4px;
  border: 1px solid #dedede;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  max-height: auto;
  background: #fff;
}

.gallery-list .gallery-item:hover {
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1)
}

.gallery-image-number {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0 8px;
  font-size: .8125rem;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 45%;
}

.horizontal-scroll-preview {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.horizontal-scroll-preview img {
  flex: 0 0 auto;
  width: '100%';
  height: 'auto';
  scroll-snap-align: inherit;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.gallery-item .gallery-image-container {
  position: relative;
  height: 162px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  background: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

}

.gallery-item .gallery-image-container img {
  max-height: auto;
  scroll-snap-align: start;
}

.gallery-item .gallery-image-container .loading-tip {
  display: inline-block;
}

.gallery-item .gallery-row-content {
  padding: 8px 5px;
  flex: 1;
  min-height: 0;
  height: auto;
}


.gallery-item .gallery-row-content .gallery-title-container {
  padding: 0 5px;
  border-radius: 2px;
}

.gallery-item .gallery-row-content .gallery-title-container:hover {
  background: #f1f1f1;
}

.gallery-item .gallery-row-content .row-title {
  font-size: 15px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  height: 28px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.gallery-item .gallery-row-content .gallery-formatter-list {
  padding: 0 5px;
}

.gallery-item .gallery-row-content .formatter-container {
  display: flex;
  margin-top: 8px;
}

.gallery-row-content .formatter-container .cell-formatter-container {
  overflow: initial;
}

.gallery-row-content .row-cell-empty {
  height: 8px;
  width: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.gallery-list-content .add-gallery-item {
  position: fixed;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  z-index: 4;
}

.gallery-row-content .gallery-editor-container {
  margin-top: 7px;
  min-height: 28px;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  max-height: 100px;
}

.gallery-editor-container .gallery-editor-title {
  font-size: 12px;
  height: fit-content;
}

.gallery-editor-container .gallery-editor-title .gallery-editor-title-text {
  color: #666;
}

.gallery-editor-container .cell-formatter-container {
  height: auto;
}

.long-text-content {
  width: 210px;
  white-space: normal;
  overflow: hidden;
  display: block;
}

.gallery-row-content .gallery-text-editor {
  font-size: 14px;
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.gallery-row-content .gallery-formula-container {
  text-align: left !important;
}

.gallery-row-content .gallery-link-container {
  display: flex;
  align-items: center;
}

.gallery-row-content .gallery-link-container .link-item {
  flex-shrink: 0;
  height: 20px;
  margin-right: 4px;
  padding: 0 6px;
  font-size: 13px;
  max-width: 100%;
  background: #eceff4;
  border-radius: 3px;
  align-items: center;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  width: fit-content;
}
