.gallery-modal-portal .dropdown-menu {
  font-weight: normal;
}

.gallery-modal-portal .dropdown-menu .no-options {
  height: 40px;
  color: #c2c2c2;
}

.gallery-modal-portal .dropdown-item:hover {
  color: #fff;
  background-color: #20a0ff;
}

.gallery-modal-portal .dropdown-item .item-icon {
  font-size: 14px;
  margin-right: 10px;
  color: #8c8c8c;
}

.gallery-modal-portal .dropdown-item:hover .item-icon {
  color: #fff;
}