
.gallery-list-content .gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-list .gallery-item {
  min-width: 220px;
  height: 234px;
  border-radius: 4px;
  border: 1px solid #ededed;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}

.gallery-list .gallery-item:hover {
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1)
}

.gallery-image-number {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 3px 8px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 4px;
}

.gallery-item .gallery-image-container {
  height: 168px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  background: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery-item .gallery-image-container .loading-tip {
  display: inline-block;
}

.gallery-item .gallery-row-content {
  padding: 10px;
}

.gallery-item .gallery-row-content .row-title {
  font-size: 14px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.gallery-item .gallery-row-content .row-title:hover {
  color: orange;
}

.gallery-item .gallery-row-content .formatter-container {
  display: flex;
  margin-top: 5px;
}

.gallery-row-content .formatter-container .cell-formatter-container {
  overflow: initial;
}

.gallery-row-content .formatter-container .row-cell-empty {
  height: 8px;
  width: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.gallery-list-content .add-gallery-item {
  position: fixed;
  bottom: 0;
  right: 16px;
  cursor: pointer;
  z-index: 4;
}

.gallery-list-content .add-gallery-item .add-gallery-row {
  font-size: 60px;
  color: #6f6be8;
}