
.gallery-list-content .gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-list .gallery-item {
  min-width: 220px;
  border-radius: 4px;
  border: 1px solid #dedede;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 350px;
  overflow: auto;
}

.gallery-list .gallery-item:hover {
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1)
}

.gallery-image-number {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 3px 8px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 4px;
}

.gallery-item .gallery-image-container {
  height: 162px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  background: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.gallery-item .gallery-image-container img {
  height: 162px;
  max-width: none;
}

.gallery-item .gallery-image-container .loading-tip {
  display: inline-block;
}

.gallery-item .gallery-row-content {
  padding: 8px 10px;
}

.gallery-item .gallery-row-content .row-title {
  font-size: 15px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  min-height: 28px;
  display: flex;
  align-items: center;
}

.gallery-item .gallery-row-content .row-title:hover {
  /* color: #ff8000; */
  background: #f1f1f1;
}

.gallery-item .gallery-row-content .formatter-container {
  display: flex;
  margin-top: 8px;
}

.gallery-row-content .formatter-container .cell-formatter-container {
  overflow: initial;
}

.gallery-row-content .row-cell-empty {
  height: 8px;
  width: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.gallery-list-content .add-gallery-item {
  position: fixed;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  z-index: 4;
}

.gallery-row-content .gallery-editor-container {
  margin-top: 7px;
  min-height: 28px;
  display: flex;
  align-items: center;
}

.gallery-row-content .gallery-editor-container:first-child {
  margin-top: 0;
} 

.gallery-row-content .gallery-text-editor {
  font-size: 14px;
}

.gallery-row-content .gallery-formula-container {
  text-align: left!important;
}

.gallery-row-content .gallery-link-container {
  line-height: 1.5;
  display: flex;
}